.above-footer-container{
    background-color: #282828;
    color: #FAF9F6;
    padding: 10px;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}
.above-footer-container p{
    text-align: center;
}
.above-footer-container p img{
    width: 80px;
}

.above-footer-container p img:hover{
    cursor: pointer;
}

@media (max-width:765px) and (min-width:100px) {
.above-footer-container{
    padding: 5px;
    overflow-x: auto;
    padding-top:50px;
    
}

.above-footer-container p img{
    width: 50px;
}

.above-footer-container h2{
    font-size: 10px;
}
}